* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
  background-color: #0D1422;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF347F;
  border-radius: 999px;
}

.header {
  height: 100vh;
  width: 100vw;
  background: url("../img/Background.jpg") bottom/cover fixed;
}

.header .large-title {
  font-size: 4.5rem;
  color: #fff;
  text-align: center;
  padding-top: 30vh;
  margin-bottom: .125em;
}

.header .content {
  width: 32.5vw;
  color: #C4C4C4;
  margin: 0 auto;
  text-align: center;
  font-family: Segoe UI, serif;
  font-weight: lighter;
  font-size: 1.4rem;
  line-height: 1.75;
}

.header .content .light {
  color: #fff;
}

.header .divider {
  width: 27.5vw;
  background-color: #fff;
  opacity: .17;
  height: 1.5px;
  margin: 2em auto;
}

.header .social-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .social-icon-list .social-icon-container {
  margin: 0 .7rem;
}

.header .social-icon-list .social-icon-container .icon {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header .social-icon-list .social-icon-container .icon:hover {
  color: #FF347F;
}

.header .scroll-down-btn {
  background: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 7.5vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  transition: background .3s ease-in-out, color .3s ease-in-out;
  font-size: 1.075rem;
  padding-top: 4px;
  outline: none;
}

.header .scroll-down-btn:hover {
  background: #FF347F;
  color: #fff;
}

.header .scroll-down-btn:focus {
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.navbar {
  width: 100vw;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-transition: background .4s ease-in-out, height .4s ease-in-out, -webkit-box-shadow .4s ease-in-out;
  transition: background .4s ease-in-out, height .4s ease-in-out, -webkit-box-shadow .4s ease-in-out;
  transition: background .4s ease-in-out, height .4s ease-in-out, box-shadow .4s ease-in-out;
  transition: background .4s ease-in-out, height .4s ease-in-out, box-shadow .4s ease-in-out, -webkit-box-shadow .4s ease-in-out;
  z-index: 3;
}

.navbar.contract {
  background: #0D1422;
  height: 100px;
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.05);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.05);
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar .nav-list .nav-item {
  margin: 0 1.5em;
}

.navbar .nav-list .nav-item .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.navbar .nav-list .nav-item .nav-link:hover {
  color: #FF347F;
}

.section-title {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 2em 0 .5em 0;
}

.section-sub-text {
  color: #C4C4C4;
  text-align: center;
  font-family: Segoe UI, serif;
  font-weight: lighter;
  font-size: 1.4rem;
  line-height: 1.75;
}

.section-sub-text .light {
  color: #fff;
}

#projects {
  padding-top: 5vh;
}

#projects .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 80vw;
  min-height: 57.5vh;
  margin: 2em auto;
}

#projects .project .image-section {
  width: 100%;
  height: 100%;
  position: relative;
}

#projects .project .image-section .project-img {
  width: 75%;
  height: 50%;
  border-radius: 20px;
  position: absolute;
  top: 20%;
  right: 30px;
  z-index: 2;
}

#projects .project .image-section .backdrop-1 {
  background: #111C30;
  width: 75%;
  height: 50%;
  z-index: 1;
  position: absolute;
  right: 60px;
  top: 25%;
  border-radius: 20px;
  -webkit-filter: brightness(5);
          filter: brightness(5);
  opacity: .1;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

#projects .project .image-section .backdrop-2 {
  z-index: 0;
  background: #111C30;
  width: 75%;
  height: 50%;
  position: absolute;
  right: 90px;
  top: 30%;
  border-radius: 20px;
  -webkit-filter: brightness(3);
          filter: brightness(3);
  opacity: .1;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

#projects .project .content {
  padding: 2em 0 0 2em;
}

#projects .project .content .project-title {
  color: #fff;
  font-weight: 600;
  font-size: 1.75rem;
}

#projects .project .content .project-desc {
  color: #C4C4C4;
  font-family: Segoe UI, serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.75;
  width: 70%;
  margin: 1.5em 0;
}

#projects .project .content .project-desc .light {
  color: #fff;
}

#projects .project .content .skills-used-title {
  color: #fff;
  font-size: 1.35rem;
  font-weight: 600;
}

#projects .project .content .skills-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.5em;
  row-gap: 1.5em;
  width: 75%;
}

#projects .project .content .skills-list .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .project .content .skills-list .skill .checkmark {
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

#projects .project .content .skills-list .skill .skill-title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

#projects .project .content .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

#projects .project .content .button-group .btn:nth-child(n+2) {
  margin-left: 1em;
}

#projects .project:last-of-type {
  padding-top: 1em;
}

#projects .project:last-of-type .content {
  margin-top: 50px;
}

#projects .project.reversed {
  text-align: right;
  padding-top: 1em;
}

#projects .project.reversed .content {
  padding-right: 3em;
  margin-top: 50px;
}

#projects .project.reversed .content .project-desc {
  margin-left: 30%;
}

#projects .project.reversed .content .skills-list {
  margin-left: 25%;
}

#projects .project.reversed .content .skills-list .skill {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#projects .project.reversed .content .button-group {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#projects .project.reversed .content .button-group .btn:last-of-type {
  margin-right: 1em;
}

#projects .project.reversed .image-section .project-img {
  right: initial;
  left: 30px;
}

#projects .project.reversed .image-section .backdrop-1 {
  right: initial;
  left: 60px;
}

#projects .project.reversed .image-section .backdrop-2 {
  right: initial;
  left: 90px;
}

#projects .project-divider {
  width: 100vw;
  height: 1.5px;
  background: #fff;
  opacity: .17;
}

.btn {
  padding: 16px 32px;
  border-radius: 999px;
  position: relative;
  top: 24px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border: 0;
  cursor: pointer;
}

.btn.primary {
  background: #FF347F;
  color: #fff;
}

.btn.primary:hover {
  background: rgba(255, 52, 127, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.btn.primary-outline {
  border: 2px solid #FF347F;
  color: #FF347F;
  /*&:hover {
            background: $primary;
            color: #fff;
        }*/
}

.btn.primary-outline:hover {
  background: rgba(255, 255, 255, 0.15);
  border-color: #ff679f;
  color: #ff679f;
}

.btn.extra-space .icon {
  margin-right: 10px;
}

#skills {
  height: 95vh;
  width: 100vw;
  position: relative;
  background: #121b2c;
  overflow: hidden;
}

#skills .background {
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

#skills .background .pill-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  row-gap: 10vh;
  position: absolute;
  left: -10vw;
  top: 10vh;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

#skills .background .pill-grid .pill {
  width: 25vw;
  height: 150px;
  background-color: #0D1422;
  border-radius: 999px;
  z-index: 0;
  opacity: .15;
}

#skills .background .pill-grid .pill:nth-child(2n) {
  background-color: #FF347F;
  opacity: .05;
}

#skills .content {
  z-index: 2;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 5vh;
}

#skills .content .skills-grid {
  width: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  height: 60vh;
  margin: 3em auto 0 auto;
}

#skills .content .skills-grid .skill-box {
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(143, 143, 143, 0.15) 100%);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#skills .content .skills-grid .skill-box .watermark {
  opacity: .2;
  font-size: 8rem;
  position: absolute;
  top: .35em;
  right: .35em;
}

#skills .content .skills-grid .skill-box .skill-box-title {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin: 3em 0 2em 0;
  -webkit-filter: brightness(20);
          filter: brightness(20);
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

#skills .content .skills-grid .skill-box .skills-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

#skills .content .skills-grid .skill-box .skills-list .skill-pill {
  background: #FF347F;
  padding: 8px 20px;
  border-radius: 999px;
  color: #fff;
  font-size: .9rem;
  font-weight: 500;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#skills .content .skills-grid .skill-box .skills-list .skill-pill:hover {
  font-size: 1.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#skills .content .skills-grid .skill-box .skills-list .skill-pill:not(:last-of-type) {
  margin-bottom: 1.5em;
}

.contact-form {
  width: 35vw;
  margin: 4em auto 6em auto;
}

.contact-form .form-group {
  display: block;
  margin: 2em 0;
}

.contact-form .form-group.button-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.contact-form .form-group.form-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 3em;
          column-gap: 3em;
}

.contact-form .form-group label {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding-bottom: 12px;
}

.contact-form .form-group .input {
  width: 100%;
  padding: 12px;
  height: 40px;
  background: rgba(36, 49, 74, 0.5);
  border: none;
  border-bottom: 2px solid #ccc;
  color: #fff;
  font-size: .85rem;
  outline: none;
}

.contact-form .form-group .input:focus {
  border-bottom-color: #FF347F;
  color: #FF347F;
}

.contact-form .form-group .input.textarea {
  min-height: 160px;
  font-family: 'Segoe UI', sans-serif;
}

.contact-form .form-group .btn {
  width: 160px;
  position: relative;
  top: -50%;
}

#about {
  min-height: 65vh;
  width: 100vw;
  background: #121b2c;
  padding: .5em 0;
}

#about .about-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  height: 42.5vh;
  margin-top: 2em;
  width: 50vw;
  margin: 0 auto;
}

#about .about-grid .img-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 7.5vw;
}

#about .about-grid .img-container .about-img {
  width: 35%;
  min-width: 230px;
}

#about .about-grid .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-grid .content .text {
  color: #C4C4C4;
  font-family: Segoe UI, serif;
  font-weight: lighter;
  font-size: 1.3rem;
  line-height: 1.825;
}

#about .about-grid .content .text .light {
  color: #fff;
}

#resume {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#resume div {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

#resume .section-title {
  margin: 0;
}

#resume .section-sub-text {
  padding: 1em 0;
}

footer {
  width: 100vw;
  background: #121b2c;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
}

footer .footer-text {
  color: #C4C4C4;
  font-family: Segoe UI, serif;
  font-weight: lighter;
  font-size: 1.15rem;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .social-icons .social-icon-container {
  margin: 0 .75em;
}

footer .social-icons .social-icon-container .icon {
  font-size: 1.5rem;
  text-decoration: none;
  color: #C4C4C4;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

footer .social-icons .social-icon-container .icon:hover {
  color: #FF347F;
}
/*# sourceMappingURL=main.css.map */