// Font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@400;500;700&display=swap');

// Define Variables
$primaryColor: #518FF2;
$lightGrey: #F8F8F8;
$mainGrey: #F2F2F2;
$textDark: #4B4B4B; 
$titleSize: 2.5rem;
$smallTitleSize: 2rem;

// Mixins

@mixin transition {
    transition: .3s ease-in-out;
}

@mixin longTransition {
    transition: .75s ease-in-out;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: lighten($textDark, 12.5%);
}

::-webkit-scrollbar-thumb {
    background: $primaryColor;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.header {
    width:100vw;
    height: 100vh;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .nav {
        height: 150px;
        width:100vw;
        position:fixed;
        padding: 0 10vw;
        top:0;
        @include longTransition();
        z-index: 1;
        
        .nav-brand {
            position:relative;
            top:50%;
            transform:translateY(-50%);
            @include longTransition();
            cursor: pointer;

            .nav-img {
                width:50px;
                position:absolute;
            }

            .nav-brand-text {
                position:relative;
                top: 7.5px;
                left: 60px;
                text-transform: uppercase;
                color: $textDark;
                font-size: 1.75rem;

            }
        }

        .nav-list {
            position:absolute;
            right: 10vw;
            top: 50%;
            transform:translateY(-50%);
            list-style: none;
            display:flex;

            .nav-item {
                margin: 0 1em;

                .nav-link {
                    color: $textDark;
                    font-weight: bold;
                    font-size: 1.35rem;
                    text-decoration: none;
                    @include transition();

                    &.font-light {
                        font-weight: normal;
                    }

                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }

        &.contract {
            height: 90px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            background: #fff;

            .nav-brand {
                top: 40%;
            }
        }

    }

    .header-content {
        width: 60vw;
        height: 40vh;
        position:relative;
        top:55%;
        left:50%;
        transform: translate(-50%, -50%);

        .main-text {
            color: $textDark;
            font-size: $titleSize;
            text-align:center;
            margin-bottom: .6em;
        }

        .paragraph {
            color: $textDark;
            font-size: 1.35rem;
            width: 52.5%;
            text-align:center;
            line-height: 1.75;
            position:relative;
            left:50%;
            transform:translateX(-50%);
            margin-bottom: 1.25em;
            font-family: 'Quicksand', sans-serif;
        }

        .btn {
            position:relative;
            left:50%;
            transform:translateX(-50%);
        }
    }
}

.btn {
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    @include transition();
    cursor: pointer;
    text-decoration: none;

    .icon {
        margin-right: 10px;
    }

    &.primary {
        background: $primaryColor;
        color: #fff;
        border: 1px solid $primaryColor;

        &:hover {
            background: lighten($primaryColor, 10%);
        }
    }

    &.outline {
        border: 1px solid $primaryColor;
        color: $primaryColor;
        background: $mainGrey;

        &:hover {
            background: $lightGrey;
        }
    }

    &:focus {
        box-shadow: 0 0 10px rgba(0,0,0,0.35);
        outline: none;
    }
}

.section {
    padding: 10vh 10vw;

    &.grey {
        background: $mainGrey;
    }

    .section-title {
        color: $textDark;
        font-weight: bold;
        text-align:center;
        font-size: $titleSize;
        margin-bottom: .75em;
    }

    .section-sub-title {
        color: $textDark;
        font-weight: normal;
        text-align:center;
        font-size: 1.5rem;
        font-family: 'Quicksand', sans-serif;
    }
}

.project {
    width:80vw;
    height: 50vh;
    display:grid;
    grid-template-columns: 1fr 1fr;

    &:first-of-type {
        margin-top: 100px;
    }

    .project-img {
        width:80%;
        border-radius: 25px;
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);

        &.small {
            top: 45%;
        }
    }

    .content {
        color: $textDark;

        .title {
            font-weight: bold;
            font-size: 2rem;
            margin: 1em 0;
        }

        .description {
            font-weight: normal;
            width: 80%;
            font-size: 1.35rem;
            line-height: 1.75;
            font-family: 'Quicksand', sans-serif;
        }

        .skills {
            margin-top: 2.5em;

            .skill-list {
                margin-top: 25px;
                list-style: none;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 70%;
                row-gap: 1em;

                .skill {
                    width: 100px;
                    position: relative;

                    .checkmark {
                        width: 35px;
                        position: absolute;
                        left:0;
                        top: 0;
                    }

                    .skill-name {
                        font-weight: 500;
                        position:relative;
                        left:50px;
                        line-height: 35px;
                        font-size: 1.25rem;
                    }
                }
            }
        }

        .btn-group {
            margin-top: 3em;

            .btn.outline {
                margin-left: 20px;
            }
        }

        &.right {
            text-align:right;

            .title {
                margin-right: 12px;
            }

            .description {
                margin-left: 20%;
            }

            .skill-list {
                text-align:left;
                margin-left: 34%;
                position:relative;
            }
        }
    }
}

.divider {
    border: 1px solid $mainGrey;
    margin: 125px 0 125px -10vw;
    width: 100vw;
}

.skills-container {
    width: 80vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    margin-top: 75px;

    .skill-group  {
        background: #fff;
        height: 175px;
        width: 75%;
        margin-left: 12.5%;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.025);
        display:grid;
        grid-template-columns: 1fr 3fr;

        .icon {
            margin-top:60%;
            margin-left:50%;
            transform:translate(-50%, -50%);
        }

        .content {
            padding: 15px 0;

            .skill-title {
                font-size: 1.4rem;
                color: $textDark;
                margin: 10px 0 25px 0;
            }

            .skills {
                list-style: none;

                .row {
                    display: flex;
                    
                    &:first-of-type {
                        margin-bottom: 1em;
                    }

                    .skill {
                        padding: .25em 1.15em;
                        background: $primaryColor;
                        border-radius: 20px;
                        color: #fff;

                        &:not(:first-of-type) {
                            margin-left: 1.15em;
                        }
                    }
                }
            }
        }
    }
}

.contact-form {
    width: 40vw;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    margin-top: 50px;

    .alert {
        background: #d00;
        width:100%;
        height: 50px;
        border-radius: 5px;
        opacity: 0.75;
        margin-bottom: 2.5em;
        display: none;
        position:relative;

        .alert-text {
            color: #fff;
            font-size: 1rem;
            line-height: 50px;
            margin-left: 25px;
        }

        .close {
            color: #fff;
            font-size: 1.5rem;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .form-group {
        margin-bottom: 2.5em;
        
        &.form-grid {
            display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 3em;
        }

        .input-container {

            label {
                display: block;
                color: $textDark;
                font-weight: bold;
                padding-bottom: 10px;
                font-size: 1rem;
            }

            .input {
                display:block;
                width: 100%;
                height: 50px;
                border: 0;
                background: $mainGrey;
                padding-left: 10px;
                font-size: 1rem;
                color: $textDark;
                border-radius: 5px;

                &:focus {
                    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
                    outline: none;
                }

                &::placeholder {
                    color: darken($mainGrey, 22.5%);
                }

                &.textarea {
                    height: 150px;
                    padding-top: 10px;
                    resize: none;

                    &::placeholder {
                        color: darken($mainGrey, 22.5%);
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }            
        }

        .btn {
            position:relative;
            left:50%;
            transform: translateX(-50%);
            padding: 15px 50px;
        }
    }
}

.about-content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;

    .about-img {
        width:35%;
        position:relative;
        left:60%;
        transform: translateX(-50%);
    }

    .text {
        padding: 1em;
        width: 80%;

        .paragraph {
            color: $textDark;
            font-weight: normal;
            font-size: 1.325rem;
            line-height: 1.75;
            font-family: 'Quicksand', sans-serif;
        }
    }
}

.resume {
    height: 400px;

    .btn {
        position: absolute;
        left: 50%;
        bottom: 100px;
        transform: translateX(-50%);
    }
}

.footer {
    height: 75px;
    width:100vw;
    background: $mainGrey;
    position:relative;

    .footer-text {
        position: absolute;
        left: 15vw;
        top:50%;
        transform:translateY(-50%);
        font-size: 1.25rem;
        color: $textDark;
        font-weight: normal;
    }

    .social-icons {
        position: absolute;
        right: 15vw;
        top:50%;
        transform:translateY(-50%);
        display: flex;
        list-style: none;

        .icon-container {
            margin: 0 .625em;

            .icon {
                text-decoration: none;
                color: $textDark;
                @include transition();
                cursor: pointer;

                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}

@media screen and (max-width: 1638px) {

    .skills-container {

        .skill-group {
            width: 85%;
            margin-left: 7.5%;

            .icon {
                margin-top: 65%;
            }
        }

    }

    .project:first-of-type {
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 1512px) {

    .skills-container {
        gap: 3vw;

        .skill-group {
            width: 92.5%;
            margin-left: 3.75%;

            .icon {
                margin-top: 70%;
            }
        }
    }

    .header .header-content {
        
        .paragraph {
            width: 70%;
        }

    }

    .project .content.right {

        .skill-list {
            margin-left: 27.5%;
        }

    }
}

@media screen and (max-width: 1392px) {

    .header .header-content {
        .main-text {
            font-size: $smallTitleSize;
        }

        .paragraph {
            font-size: 1rem;
        }
    }

    .section .section-title {
        font-size: $smallTitleSize;
    }

    .section .section-sub-title {
        font-size: 1rem;
    }

    .btn {
        font-size: .75rem;
        padding: 10px 20px;
    }

    .project .content {

        .title {
            font-size: $smallTitleSize;
        }

        .description {
            font-size: 1rem;
        }

        .skills {

            .sub-title {
                font-size: 1.25rem
            }

            .skill-list .skill {

                .checkmark {
                    width: 26px;
                }

                .skill-name {
                    font-size: 1rem;
                    left: 35px;
                    top: -5px;
                }
            }
        }   

    }

    .project .content.right {
        
        .skill-list {
            margin-left: 31%;
        }

    }

    .contact-form {
        
        .form-group .btn {
            padding: 10px 30px;
        }

    }

    .resume {
        height: 350px;
    }

    .about-content {

        .text .paragraph {
            font-size: 1rem;
        }
    }

    .skills-container {

        .skill-group {
            width: 90%;
            margin-left: 5%;
            height: 125px;

            .icon {
                margin-top: 60%;
            }

            .content {

                .skill-title {
                    font-size: 1.1rem;
                    margin: 5px 0px 15px 0px;
                }

                .skills .row .skill {
                    font-size: .75rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1076px) {

    .header .nav {
        padding: 0 5vw;

        .nav-list {
            right: 5vw;

            .nav-item .nav-link {
                font-size: 1rem;
            }
        }

        .nav-brand {
            top:45%;
            
            .nav-brand-text {
                font-size: 1.5rem;
                left: 40px;
            }

            .nav-img {
                width: 32px;
                top: 5px;
            }
        }
    }

    .header .header-content {
        width: 90vw;

        .paragraph {
            width: 60%;
        }
    }

    .project {
        grid-template-columns: 1fr;
        height: 80vh;

        &.right {
            .project-img {
                top: 0;
                transform:translateX(-50%);
                margin-top: 50px;
                grid-row: 1;
            }

            .content.right {
                width: 80%;
                margin-left:10%;
                text-align:center;

                .description {
                    margin-left: 10%;
                }

                .skill-list {
                    position: relative;
                    left:50%;
                    transform: translateX(-50%);
                    margin-left: 0;
                    width: 50%;
                }
            }
        }

        .content {
            width: 80%;
            margin-left:10%;
            text-align:center;

            .description {
                margin-left: 10%;
            }

            .skill-list {
                position: relative;
                left:50%;
                transform: translateX(-50%);
            }
        }

        &:last-of-type {
            .content .skill-list {
                width: 50%;
                text-align:left;
            }
        }
    }

    .skills-container .skill-group {
        grid-template-columns: 1fr;
        height: 100%;
        padding-bottom: 1.5em;

        .icon {
            margin-top: 1em;
            width: 48px;
            height: 48px
        }

        .content {

            .skill-title {
                text-align:center;
                padding-bottom: 1em;
            }

            .skills {
                width: 40%;
                margin-left:50%;
                transform: translateX(-50%);

                .row {
                    display: block; 

                    &:first-of-type {
                        margin-bottom: .75em;
                    }

                    .skill {
                        padding: .5em 0;
                        width: 100%;
                        border-radius: 20px;
                        text-align:center;

                        &:not(:first-of-type) {
                            margin-left: 0;
                            margin-top: 1em;
                        }
                    }
                }
            }

            &.special {
                margin-top: -50px;
            }
        }
    }
}

@media screen and (max-width: 912px) {
    .about-content {
        grid-template-columns: 1fr;

        .about-img {
            width:20%;
            left:50%;
            margin-bottom: 2em;
        }

        .text {
            width: 70%;
            margin-left: 15%;

            .paragraph {
                text-align:center;
            }
        }

    }

    .footer {

        .footer-text {
            font-size: 1rem;
            left: 10vw;
        }

        .social-icons {
            right: 10vw;
        }
    }

    .contact-form {
        width:75%;
    }

    .project:first-of-type .content .skills {

        .skill-list {
            
            .skill {
                
                .skill-name {
                    font-size: .85rem;
                    left: 15px;
                    top: -5px;
                }

            }

        }
    }
}

@media screen and (max-width: 728px) {
    .header {

        .nav {
            position:absolute;

            .nav-list {
                display: none;
            }
    
            .nav-brand {
                position: absolute;
                left:47.5%;
                transform: translate(-50%, -50%);
            }

            &.contract {
                .nav-brand {
                    top: 60%;
                }
            }
        }

        .header-content {
            margin-top: -60px;

            .main-text {
                width: 300px;
                position:relative;
                left:50%;
                transform: translateX(-50%);
                margin-bottom: 1em;
            }

            .paragraph {
                margin-bottom: 2em;
            }
        }
    }

    .project {

        .content .skills .skill-list {
            width: 100px;
            grid-template-columns: 1fr;
            position: relative;
            left:50%;
            transform:translateX(-50%);

            .skill .skill-name {
                text-align:center;
            }
        }

        &:first-of-type {
            height: 110vh;
        }

        .content.right {
            margin-left: 0;
            width: 100px;

            .skills .skill-list {
                position: relative;
                left:50%;
                transform:translateX(-50%);
                text-align:center;
                width: 100px;
                margin-left: 0;

                .skill .skill-name {
                    font-size: .85rem;
                    left: 15px;
                    top: -5px;
                }
            }
    
        }
    }

    .skills-container {
        grid-template-columns: 1fr;
        row-gap: 2em;

        .skill-group {
            width: 50vw;
            margin: 0 auto;

            .content.special {
                margin-top: 0;
            }

            .icon {
                margin-top: 1.25em;
            }
        }
    }

    .contact-form {

        .form-group.form-grid {
            grid-template-columns: 1fr;
            row-gap: 2.5em;
        }
    }
}

@media screen and (max-width: 464px) {
    .footer {
        height: 150px;

        .footer-text {
            top: 40px;
            left:50%;
            transform: translateX(-50%);
            font-size: .75rem;
        }

        .social-icons {
            top: 85px;
            right: 50%;
            transform: translateX(50%);

            .icon-container {
                .icon {
                    font-size: 1rem;
                }
            }
        }
    }

    .skills-container {
        
        .skill-group {
            width: 70vw;
        }
    }

    .about-content .about-img {
        width: 40vw;
    }

    .project {
        height: 125vh;

        .content .btn-group {
            width: 67.5vw;
        }

        &:first-of-type {
            height: 130vh;
        }
    }
    
}

@media screen and (max-height: 770px) {
    .project {
        height: 120vh;
    }
}

@media screen and (min-width: 2552px) {
    .skills-container {
        
        .skill-group {
            
            .icon {
                margin-top: 47.5%;
            }
        }
    }

    .about-content .about-img {
        width: 12.5vw;
        left: 65%;
    }

    .about-content .paragraph {
        width: 70%;
    }

    .resume {
        height: 450px;
    }
}

@media screen and (min-width: 1642px) {
    .skills-container .skill-group .icon {
        width: 48px;
        height: 48px;
    }
}